<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banking Regulations Monitoring</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">    
    <!-- Custom styles for this template -->
     <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

     <style>
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        background-color: #ccc; 
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }
      </style>
     
  
  </head>

  <body>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('         {{ url_for('static', filename='img/iimg.jpg') }}       ')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Fraud Alert</h1>
              <span class="subheading">Banking Regulation Monitoring</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="box">
      <h2>Flagged Customers </h2>
      <ul>
        {% for row in cust %}
        <a href="/customer/{{row}}"> <li><span></span>{{row}}</li> </a>
        {% endfor %} 
      </form>
      </ul>
    </div>
    
    
    <div class="container">    
        <div class="post-preview">
            <div class="wrap-collabsible"> <input id="collapsible" class="toggle" type="checkbox"> <label for="collapsible" class="lbl-toggle">Transactions flagged as fraud</label>
              <div class="collapsible-content"><div class="content-inner">
            <h6 class="post-subtitle">
              <table style="width:100%" class="styled-table">
                <thead>
                <tr>
                  <th>step</th>
                  <th>type</th>
                  <th>amount</th>
                  <th>nameOrig</th>
                  <th>oldbalanceOrg</th>
                  <th>newbalanceOrg</th>
                  <th>nameDest</th>
                  <th>oldbalanceDest</th>
                  <th>newbalanceDest</th>
                  <th>isFraud</th>
                </tr>
               </thead>
                               
                <tbody>
                  {% for row in data %}
                  <tr>
                    {% for cell in row %} 
                    <td>{{ cell }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}                  
                </tbody>
              </table>
            </h6>  
          </div>
          </div>
            </div>        
      </div>                       
    </div>  

  </head>
  <body>
  

  
          
    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Footer --> 
    <footer>
      <div class="container">        
            <p class="copyright text-muted">Deutsche bank india regulations 2021</p>          
      </div>
    </footer> 
   
  </body>    
  
</html>


